body{
    background-color: black;
}

@font-face{
    font-family: mycustomfont; 
    src:url(PF-FontBuilder-quiver-script.woff) format(woff)
}

div.poster{
    background-color: rgb(255, 254, 249);
    width:75%;
}

div.small{
    color: rgb(27, 27, 27);
    font-size:10px;
    font-family: arial;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.text {
    font-family:arial;
    text-align:center;
    transition: 0.5s;
}

div.text.one{
    font-size:80px;
    font-family: mycustomfont;
    color: rgb(255, 109, 255);
}

div.text.two {
    font-size:60px;
    font-family: mycustomfont;
    color: rgb(162, 80, 255);
}

div.text.three {
    font-size:40px;
    font-family: mycustomfont;
    color: rgb(50, 180, 255);
}