body{
    background-color: black;
}

@font-face{
    font-family: "mycustomfont"; 
    src:url("myfont.woff") format(woff)
}

@font-face{
    font-family: "mycustomfont2"; 
    src:url("italic.woff") format(woff)
}

div.poster{
    background-color: rgb(255, 255, 253);
    width:75%;
    background-image:url('back.png');
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

div.small{
    color: rgb(36, 36, 36);
    font-size:10px;
    font-family: "mycustomfont2";
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.text {
    font-family:arial;
    transition: 0.5s;
    text-align: center;
    font-family: "mycustomfont";
}

div.text.one{
    font-size:120px;
}

div.text.two {
    font-size:150px;
}

div.text.three {
    font-size:180px;
}

div.text.one{
    color: rgb(248,110,85);
}

div.text.two {
    color: rgb(251,44,139);
}

div.text.three {
    color: rgb(20,171,182);
}

div.text.one{
    transform: rotate(180deg);
}
