body{
    background-color: rgb(0, 0, 0);
}

div.poster{
    background-color: white;
    width:75%;
}

@font-face{
    font-family: "mycustomfont";
    src:url("lemonmilk-regular.woff") format(woff);
}

div.container{
    display: flex;
    flex-wrap: wrap;
}

div.col{
    overflow:hidden;
}

div.w1-3{
    width: 50%;
}

div.w2-3{
    width: 50%;
}

div.text {
    font-family:"mycustomfont";
    transition: 0.5s;
}

/* rule 1 */

div.text.one{
    font-size: 40px;
}

div.text.two{
    font-size: 50px;
}

div.text.three{
    font-size: 60px;
}

/* rule 2 */

div.text.one{
    background-color: rgb(119, 255, 255);
}

div.text.two{
    background-color: rgb(255, 197, 153);
}

div.text.three{
    background-color: rgb(255, 152, 255);
}

/* rule 3 */
