body{
    background-color: rgb(0, 0, 0);
}

div.poster{
    background-color: rgb(255, 255, 232);
    width:75%;
}

@font-face{
    font-family:"mycustomfont";
    src:url("normal.woff") format(woff);
}

@font-face {
    font-family:"customfont";
    src: url("italic.woff") format(woff);
}

@font-face {
    font-family:"thecustomfont";
    src: url("bold.woff") format(woff);
}

div.container{
    display: flex;
    flex-wrap: wrap;
}

div.col{
    overflow:hidden;
}

div.w1-3{
    width: 33.3%;
}

div.w2-3{
    width: 66.6%;
}

div.text {
    transition: 0.5s;
}

/* rule 1 */

div.text.one{
    font-size: 48px;
}

div.text.two{
    font-size: 58px;
}

div.text.three{
    font-size: 68px;
}

/* rule 2 */

div.text.one{
    color: rgb(158, 238, 136);
}

div.text.two{
    color: rgb(255, 108, 238);
}

div.text.three{
    color: rgb(41, 112, 255);
}

/* rule 3 */

div.text.one{
    font-family:"thecustomfont";
}

div.text.two{
    font-family:"customfont";
}

div.text.three{
    font-family:"mycustomfont";
}
