body{
    background-color:rgb(255, 255, 255);
    font-family: times;
    letter-spacing: -1.3px;
    font-size: 24px;
}

img{
    width:100%;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

div.logo {
    padding: 10px;
    width: 50%;
}

div.nav {
    width: 50%;
    padding: 10px;
}

@font-face{
    font-family:"mycustomfont";
    src:url("nevis.woff") format("woff");
}

div.masthead {
    font-family: "mycustomfont";
    font-size: 18vw;
    letter-spacing: -15px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 120px;
    margin-bottom: 70px;
    text-shadow: 5px 5px 8px rgb(172, 172, 172);
}

div.about {
    font-size: 24px;
    margin-left: 5px;
}

div.aboutabout {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    padding: 15px;
}

div.title{
    font-family: "mycustomfont";
    font-size: 70px;
    color: rgb(255, 255, 255);
    letter-spacing: -5px;
    text-align: right;
    margin-top: 100px;
    margin-right: 205px;
    text-shadow: 2px 2px 4px rgb(172, 172, 172);
}

div.titletitle{
    font-family: "mycustomfont";
    color: rgb(255, 255, 255);
    font-size: 13vw;
    letter-spacing: -5px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 4px 4px 7px rgb(172, 172, 172);
}

div.titletitle2{
    font-family: "mycustomfont";
    color: rgb(255, 255, 255);
    font-size: 13vw;
    letter-spacing: -5px;
    text-align: center;
    margin-top: 80px;
    text-shadow: 4px 4px 7px rgb(172, 172, 172);
}

div.featureimage{
    margin-top: 100px;
    margin-bottom: 300px;
    max-width: 900px;
    max-height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.featureimage2{
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 900px;
    max-height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.button{
    background-color: black;
    color: white;
    font-size: 18px;
}

div.keywords{
    font-size: 25px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
}

div.feature{
    max-width: 700px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.featureitem2{
    max-width: 1500px;
    max-height: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 450px;
}

div.item{
    width: 50%;
    padding: 50px;
}

div.itempage{
    width: 50%;
    max-width: 900px;
    max-height: 900px;
}

div.item-number{
    font-size: 40px;
}

div.note{
    margin-top: 2px;
    width: 33.33%;
    padding: 20px;
    font-size: 20px;
}