body{
    background-color: black;
}

@font-face {
    font-family: mycustomfont;
    src:url('PF-FontBuilder-quiver-script.woff') format(woff);
}

div.poster{
    background-color: #fbfaee;
    width:75%;
}

div.small{
    font-size:20px;
    font-family: arial;
    color: rgb(173, 232, 255);
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid rgb(173, 232, 255);
}

div.text {
    text-align:center;
    font-family: arial;
    transition: 0.5s;
}

div.text.one{
    font-size: 30px;
    letter-spacing: 8px;
    color: rgb(173, 232, 255);
}

div.text.two{
    font-size: 60px;
    letter-spacing: -6px;
    color: rgb(255, 186, 219);
}

div.text.three{
    font-size: 90px;
    letter-spacing: -12px;
    color: rgb(255, 155, 73);
}